* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body {
    position: relative;
    background-image: url(../img/bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

:root {
    --text-color: #7e7e7e;
    --primary-color: #24a8d8;
    --second-color: #c2f9ff;
    --gray-color: #e7e7e8;
    --header-mg: 98px;
}

#main {
    margin-top: var(--header-mg);
}

.container {
    width: calc(100% + 16px);
}

@media screen and (max-width: 1200px) {
    .straight-line {
        /* border-left: 1px solid transparent; */
    }
    .tab-pane .row:nth-child(2) {
        margin-top: 50px;
    }
    .span-mt {
        margin-top: -30px;
    }
    .tab-control i{
        font-size: 12px;
    }
    .btn-control-wrap p {
        font-size: 13px;
    }
}

@media screen and (max-width: 994px){
    .tab-pane .tab-control {
        display: block;
    }
    .tab-pane .tab-control .btn-control-wrap {
        margin-bottom: 20px;
        display: block;
    }
    .btn-plus {
        width: 100%;
        justify-content: center;
    }
    .btn-repair {
        margin-top: 20px;
        justify-content: center;
    }
    .btn-bookT {
        width: 100%;
        text-align: center;
    }
    .tab-content .tab-search {
        display: block;
    }
    .main-top {
        display: block !important;
    }
    .main-btn {
        max-width: 191px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 360px) {
    .tab-item {
        padding: 6px 10px !important;
    }
    .main-btn {
        font-size: 16px !important;
        max-width: 156px!important;
    }
}

@media screen and (max-width: 1594px) {
    .navbar-search {
        width: 200px;
    }
    .nav-item i{
        font-size: 16px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .help-title {
        overflow: hidden;
    }
    .main-title {
        max-width: 450px;
    }
    .main-btn {
        font-size: 10px;
    }
}



.btn-load {
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 400px;
}

.row:nth-child(3),
.row:nth-child(4){
    display: none;
}
