.info-left {
    background-color: #fff;
    border-radius: 5px;
}

.info-left .input-bookTicket input[type="text"] {
    padding-left: 0;
}

.info-top {
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.06);
    padding: 20px;
}

.package {
    padding: 20px;
    background-color: #e3f2fd;
    border-radius: 5px;
}

.package-b {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.package-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.package-logo {
    display: flex;
    align-items: center;
}

#select {
    height: 26px;
    border: none;
    outline: none;
}

.package-logo-img {
    width: 120px;
}

.package-text {
    font-size: 14px;
    font-weight: 500;
}

.note-item {
    font-size: 14px;
    color: var(--text-color);
}

.info-right {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.06);
}

.infoFly-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoFly-title {
    margin-bottom: 0;
}

.infoFly-text {
    font-style: 12px;
    color: var(--text-color);
}

.infoFly-customer {
    font-size: 16px;
}

.info-price {
    display: flex;
}

.adult {
    display: flex;
    justify-content: space-between;
}

.adult-text {
    font-size: 14px;
    color: var(--text-color);
}

.aldult-price {
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .ticket-logo,
    .infoFly-title,
    .package-logo {
        display: block;
    }
}
