.active-navbar {
    border-bottom: 4px solid #76c9e7;
}

.title-active {
    color: #4ab7df;
}

.header {
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.06);
    z-index: 1;
    background-color: #fff;
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.header-wrap {
    display: flex;
    justify-content: space-between;
}
/* .navbarUl {
    display: block;
} */
/* 
#nav-toggle {
    display: none;
}

@media screen and (max-width: 1152px) {
    #nav-toggle {
        display: block;
    }
    .header-nav {
        width: 100%;
        /* vertical-align: column !important; */
        /* display: none; */
    /* }
    .header-nav ul li{
        margin: 0;
        width: 100%;
    }
    .heading {
        display: none;
    }
}   */

/* .heading {
    vertical-align: row;
}  */

.navbar-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-nav {
    vertical-align: row !important;
    list-style: none;
    padding-left: 0;
    margin: 6px 0;
}

.ul-2 {
    display: none;
}

.navbar-input {
    position: relative;
    margin-left: 12px;
}

.navbar-search {
    outline: none;
    border: none;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    width: 240px;
}

.input-search input[type="text"] {
    padding-right: 20px;
}

.input-search i {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 14px;
}

.search-checkbox {
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.nav-item {
    padding: 0 10px;
    text-align: center;
}

.nav-item i {
    font-size: 18px;
    color: #000;
}

.nav-item p {
    margin-bottom: 0;
    font-size: 12px;
}

.nav-item a{
    text-decoration: none;
    color: #000;
    padding: 0 5px;
}

.circle {
    z-index: -1;
    margin-top: 6px;
    margin-left: 24px;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--second-color);
}

.circle1 {
    margin-top: 8px;
    margin-left: 6px;
}

.icon-size i{
    font-size: 20px;
}

/* Main */
.main-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title{
    font-size: 1.6rem;
}

.main-btn{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #0ac46b;
    outline: none;
    color: #fff;
    cursor: pointer;
}

/* book tickets */
.body-book-ticket {
    display: flex;
}

.book-ticket {
    width: 100%;
}

.tabs {
    display: flex;
    position: relative;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: var(--primary-color);
    transition: all 0.1s ease;
}

.tab-item {
    min-width: 80px;
    padding: 8px 20px;
    font-size: 1rem;
    text-align: center;
    color: #7e7d7d;
    background-color: var(--gray-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-item + .tab-item {
    margin-left: 10px;
}

.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}

.tab-item.active {
    background-color: var(--primary-color);
    color: #fff;
}

.tab-content {
    padding: 20px 0;
    background-color: #fff;    
    margin-top: 12px;
    border-radius: 4px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.06);
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.input-bookTicket {
    position: relative;
}

.input-bookTicket span {
    font-size: 14px;
    color: #aeaeae;
}

.input-bookTicket i {
    color: var(--primary-color);
    font-size: 1.3rem;
}

.input-bookTicket-icon {
    position: absolute;
    left: 5px;
    top: 18px;
    padding: 8px;
}

.input-bookTicket-iconR {
    position: absolute;
    right: 10px;
    top: 25px;
    padding: 8px;
}

/* .input-bookTicket input[type="date"]:hover,
.input-bookTicket input[type="text"]:hover {
    border-bottom: 1px solid #000;
} */

.input-bookTicket input[type="number"] {
    border: 1px solid #ccc;
    outline: none;
    padding: 6px;
}

.input-bookTicket input[type="date"] {
    padding: 4px 10px 8px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    color: #000;
}

.input-bookTicket input[type="text"] {
    margin-top: 5px;
    padding-left: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 1rem;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    border-radius: 4px;
    cursor: pointer;
}
.tab-controlR .input-bookTicket .input-bookTicket-iconR,
.tab-controlR .input-bookTicket .input-bookTicket-icon {
    top: 20px;
}

.tab-controlR .input-bookTicket input {
    padding-left: 50px;
}

.tab-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
}

.tab-search p {
    padding: 16px 40px 0 10px;
}

.btn-bookT {
    padding: 8px 20px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.main-btn:hover,
.btn-bookT:hover {
    background-color: #217492;
}

.tab-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.btn-control-wrap {
    display: flex;
    font-size: 14px;
}

.btn-control-wrap p {
    margin-bottom: 0;
}

.btn-control-wrap i {
    font-size: 1.4rem;
    padding-right: 14px;
}

.btn-plus,
.btn-repair {
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 0 15px;
}

.btn-plus {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-plus:hover {
    border: 1px solid #04b8fa;
    background-color: #e5f5fd;
}

.btn-repair {
    border: 1px solid #ccc;
    align-items: center;
}

.btn-repair:hover {
    border: 1px solid rgb(182, 179, 179);
    background-color: rgb(253, 250, 250);
}

.btn-bookNC {
    display: flex;
    justify-content: flex-end;
}

/* Help */
.help {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.06);
}

.help-avatar {
    padding-top: 12px;
    display: flex;
    align-items: center;
}

.help-avatar-img {
    padding-right: 30px;
    width: 90px;
}

.help-text {
    margin-bottom: 0;
}

.help-sdt {
    padding-top: 10px;
    color: var(--primary-color);
}

.straight-line {
    align-items: center;
    border-left: 1px solid #ccc;
    padding-left: 30px;
}

/* content */
.card {
    font-size:  1.3rem;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.card-body {
    margin-top: auto;
    height: 210px;
}

.card-body a {
    margin-left: auto;
}

.card-title {
    align-items: justify;
    font-size: 20px;
    color: #000;
}

.card-text {
    font-size: 16px;
    align-items: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.card-link {
    font-size: 14px;
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    margin-left: auto;
    padding: 0 20px 10px 0;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

/* Manage */

.manage-wrap {
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    right: 14px;
    top: 58px;
    transition: 0.5s;
    display: none;
}

.manage-wrap-active {
    display: block;
}

.login-link,
.manage-link {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
}

.login-link i,
.manage-link i {
    padding-right: 10px;
}

.login-link p,
.manage-link p {
    margin-bottom: 0;
}

.login-link:hover,
.manage-link:hover {
    background-color: #ccc;
    color: var(--text-color);
    width: 100%;
}

.focus-avatar {
    position: relative;
}

/* Cart */
.cart {
    position: relative;
}

.cart-wrap {
    position: absolute;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.06);
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    top: 58px;
    right: 160px;
    padding: 10px 20px;
    display: none;
}

.cart-product i {
    font-size: 4.6rem;
    color: var(--primary-color);
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: center;
}

.cart-product-text {
    max-width: 300px;
    text-align: center;
}

.cart-active {
    display: block;
}

/* booking lookup */
.booking {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    display: none;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.06);
}

.booking-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    color: var(--text-primary);
}

.booking-input {
    width: 100%;
    outline: none;
    border: transparent;
    border-bottom: 1px solid #ccc;
}

.booking-text {
    font-size: 14px;
    color: var(--text-primary);
    margin-top: 10px;
}

.booking .btn-bookT {
    float: right;
}

.booking-close {
    cursor: pointer;
}

.booking-active {
    display: block;
}

.card-link {
    text-decoration: none;
}
