.active-navbar {
    border-bottom: 4px solid #76c9e7;
}

.title-active {
    color: #4ab7df;
}

.header {
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.06);
    z-index: 1;
    background-color: #fff;
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-input {
    position: relative;
    margin-left: 12px;
}

.navbar-search {
    outline: none;
    border: none;
    background-color: #f5f5f5;
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 18px;
    width: 310px;
}

.input-search input[type="text"] {
    padding-right: 20px;
}

.input-search i {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.nav-item {
    padding: 0 20px;
    text-align: center;
}

.nav-item i {
    font-size: 26px;
    color: #000;
}

.nav-item p {
    margin-bottom: 0;
}

.nav-item a{
    text-decoration: none;
    color: #000;
}

.circle {
    z-index: -1;
    margin-top: 8px;
    margin-left: 28px;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--second-color);
}

.circle1 {
    margin-top: 8px;
    margin-left: 6px;
}

.icon-size i{
    font-size: 1.6rem;
}

/* Main */
.main-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 45px;
}

.main-title{
    font-size: 2rem;
    flex-grow: 1;
}

.main-btn{
    font-size: 1.3rem;
    border-radius: 50px;
    padding: 12px 30px;
    background-color: #0ac46b;
    outline: none;
    color: #fff;
    cursor: pointer;
}

/* book tickets */
.body-book-ticket {
    display: flex;
}

.book-ticket {
    width: 100%;
}

.tabs {
    display: flex;
    position: relative;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: var(--primary-color);
    transition: all 0.1s ease;
}

.tab-item {
    min-width: 80px;
    padding: 12px 35px;
    font-size: 1.3rem;
    text-align: center;
    color: #7e7d7d;
    background-color: var(--gray-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-item + .tab-item {
    margin-left: 10px;
}

.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}

.tab-item.active {
    background-color: var(--primary-color);
    color: #fff;
}

.tab-content {
    padding: 20px 0;
    background-color: #fff;    
    margin-top: 12px;
    border-radius: 4px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.06);
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.input-bookTicket {
    position: relative;
}

.input-bookTicket span {
    font-style: 1rem;
    color: #aeaeae;
}

.input-bookTicket i {
    color: var(--primary-color);
    font-size: 1.3rem;
}

.input-bookTicket-icon {
    position: absolute;
    left: 5px;
    top: 26px;
    padding: 8px;
}

.input-bookTicket-iconR {
    position: absolute;
    right: 10px;
    top: 25px;
    padding: 8px;
}

.input-bookTicket input[type="text"]:hover {
    border-bottom: 1px solid #000;
}

.input-bookTicket input[type="text"] {
    margin-top: 5px;
    padding-left: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 1.3rem;
}

input[type="checkbox"] {
    height: 25px;
    width: 25px;
    border-radius: 4px;
    cursor: pointer;
}
.tab-controlR .input-bookTicket .input-bookTicket-iconR,
.tab-controlR .input-bookTicket .input-bookTicket-icon {
    top: 32px;
}

.tab-controlR .input-bookTicket input {
    padding-left: 50px;
}

.tab-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    font-size: 1.3rem;
}

.tab-search p {
    padding: 16px 40px 0 10px;
}

.btn-bookT {
    padding: 12px 30px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.btn-bookT:hover {
    background-color: #217492;
}

.tab-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.btn-control-wrap {
    display: flex;
    font-size: 18px;
}

.btn-control-wrap p {
    margin-bottom: 0;
}

.btn-control-wrap i {
    font-size: 1.4rem;
    padding-right: 14px;
}

.btn-plus,
.btn-repair {
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 5px 30px;
}

.btn-plus {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-plus:hover {
    border: 1px solid #04b8fa;
    background-color: #e5f5fd;
}

.btn-repair {
    border: 1px solid #ccc;
    align-items: center;
    font-size: 18px;
}

.btn-repair:hover {
    border: 1px solid rgb(182, 179, 179);
    background-color: rgb(253, 250, 250);
}

.btn-bookNC {
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
}

/* Help */
.help {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.06);
}

.help-avatar {
    padding: 16px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.help-avatar-img {
    padding-right: 30px;
    width: 100px;
}

.help-sdt {
    padding-top: 10px;
    color: var(--primary-color);
}

.help-title {
    max-width: 600px;
}

.straight-line {
    font-size: 1.3rem;
    align-items: center;
    border-left: 1px solid #ccc;
    padding-left: 30px;
}

/* content */
.card {
    font-size:  1.3rem;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.card-body {
    margin-top: auto;
    /* height: 300px; */
}

.card-title {
    align-items: justify;
}

.card-text {
    align-items: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.card-link {
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    margin-top: auto;
}


.card-body a {
    margin-left: auto;
}